/* h3{
    color: red;
    background-color: yellow;
} */

/* p{
    color: blue;
}

button{
    color: rgb(255, 77, 0);
    background-color: rgb(7, 5, 5);
} */


h2{
    color: orange;
}
button{
    background-color: blue;
    color: white;
}
p{
    background-color: black;
    color: white;
}