
div{
    height: 200px;
    width: 500px;
    background-color: aqua;
    /* border-width: 5px;
    border-style: solid;
    border-color: red; */
   border: 5px solid red;
   border-left: dashed blue 5px;
   border-top: 4px dashed rgb(80, 18, 174);
   padding-left: 20px;
   padding-top: 20px;
   border-radius: 10px;
   padding-right: 20px;
   font-style: italic;
   /* margin-bottom: 20px;
   margin-left: 20px; */
   /* padding: 25px;
   margin: 25px; */
   margin:  25px 20px;

}

button{
    border-radius: 10px;
    padding-left: 23px;
    padding-right: 23px;
    background-color: blue;
    color: white;
}
h1{
    /* border-width: 3px;
    border-style: dashed;
    border-color: green; */
    border: 2px dashed goldenrod ;
}  






pre {
    height: 80px;
    width: 120px;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    background-color: palegreen;
    border-width: 5px;
    box-sizing: border-box;
  }
  
  /* border-style example classes */
  .b1 {
    border-style: none;
  }
  
  .b2 {
    border-style: hidden;
  }
  
  .b3 {
    border-style: dotted;
  }
  
  .b4 {
    border-style: dashed;
  }
  
  .b5 {
    border-style: solid;
  }
  
  .b6 {
    border-style: double;
  }
  
  .b7 {
    border-style: groove;
  }
  
  .b8 {
    border-style: ridge;
  }
  
  .b9 {
    border-style: inset;
  }
  
  .b10 {
    border-style: outset;
  }
  